LITELLM_IMAGE=docker.litellm.ai/berriai/litellm-database:latest
FREEROUTER_PORT=4000
LITELLM_MASTER_KEY=CHANGE_ME_MASTER_KEY
LITELLM_SALT_KEY=CHANGE_ME_SALT_KEY
LITELLM_DISABLE_NO_REDIS_WARNING=true
STORE_MODEL_IN_DB=True

ZENMUX_API_KEY=
OPENROUTER_API_KEY=

OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GEMINI_API_KEY=
GROQ_API_KEY=
MISTRAL_API_KEY=
COHERE_API_KEY=
CEREBRAS_API_KEY=
NVIDIA_NIM_API_KEY=
DEEPSEEK_API_KEY=
DASHSCOPE_API_KEY=
ZAI_API_KEY=
MOONSHOT_API_KEY=
SILICONFLOW_API_KEY=

POSTGRES_DB=litellm
POSTGRES_USER=litellm
POSTGRES_PASSWORD=CHANGE_ME_DB_PASSWORD
